[project]
	description = Mirror of Gerrit Ring LRC Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soundoss
[access "refs/for/refs/*"]
	read = group user/soundoss
	push = group user/soundoss
	label-Code-Review = -2..+2 group user/soundoss
	label-Verified = -1..+1 group user/soundoss
	rebase = group user/soundoss
	removeReviewer = group user/soundoss
	submit = group user/soundoss
[access "refs/heads/*"]
	read = group user/soundoss
	create = group user/soundoss
	push = +force group user/soundoss
	pushMerge = group user/soundoss
[access "refs/tags/*"]
	push = group user/soundoss
	push = +force group user/soundoss
